# 減肥示例：把測試、文件、開發腳本排除
# BP_kb_zu_im.schema.yaml export-ignore
.github/          export-ignore
.gitignore        export-ignore
.gitlab-ci.yml   export-ignore
.gitattributes    export-ignore
_archived/         export-ignore
.vscode/           export-ignore
tests/             export-ignore
my_lab/          export-ignore
huan_ciat/          export-ignore
docs/              export-ignore
src/              export-ignore
tools/              export-ignore
*.xlsx             export-ignore
*.csv              export-ignore
settings_to_append.txt export-ignore
clear_rime_cache.bat export-ignore
install.bat export-ignore
install.sh export-ignore
mylist.txt export-ignore